.CameraApp {
	ul.feeds {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			&.photo {
				max-width: 100px;
				margin: 10px;
				display: inline-block;

				img {
					width: 100%;
				}
			}
		}
	}
}
