Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

AuthType Basic
AuthName "My Protected Area"
AuthUserFile /Users/darrenstevens/Dropbox/Darren/Websites/_Education/React/Create-React-App/Project-1/project-1/build/.htpasswd
Require valid-user